.todo {
  margin: 10px 0;
  padding: 15px;
  border-left: 3px solid #eee;
  background-color: #f4f8fa;
  border-color: #4cae4c;
}

.todo .title {
  margin: 0 0 0 15px;
}

.todo .glyphicon {
  margin: 0 0 0 10px;
}

.todo form {
  display: inline-block;
}

.todo button {
  border: none;
  background: none;
  padding: 0;
}

.todo-completed {
  border-color: #aaa;
}

.todo-pending .glyphicon:hover {
  color: #4cae4c;
}

.todo-pending .glyphicon {
  color: #055305;
}

.todo-pending .glyphicon-remove:hover {
  color: #CA0803;
}

.todo-pending .glyphicon-remove {
  color: #8b0804;
}

.todo-completed span {
  color: #aaa;
}

.todo-completed .title {
  text-decoration: line-through;
}

#todo_title {
  width: 75%;
  display: inline-block;
}
