.todo {
  margin: 10px 0;
  padding: 15px;
  border-left: 3px solid #666;
  background-color: #fff;
  clear: both;
}

.todo .title {
  margin: 0 0 0 15px;
}

.todo .glyphicon {
  margin: 0 0 0 10px;
}

.todo > .glyphicon {
  float: right;
}

.todo > form.action, .todo > a {
  float: right;
  display: inline-block;
}

.todo-new {
  padding: 10px 15px;

  .button-add {
    margin: 7px 0;
  }
}

.todo > form.new-todo {
  input {
    border: none;
  }

  .button-add {
    float: right;
  }
}

.todo button {
  border: none;
  background: none;
  padding: 0;
}

.todo-completed {
  border-color: #aaa;
}

.todo .glyphicon {
  color: #888;
}

.todo .glyphicon:hover {
  color: #000;
}

.todo-completed > span {
  color: #aaa;
}

.todo-completed .title {
  text-decoration: line-through;
}

#todo_title {
  width: 65%;
  display: inline-block;
}

#todo_complete_by {
  width: 25%;
  display: inline-block;
}
